<section class='main-section' id='configuration'>
    <header><h1>WELCOME</h1></header>
    <h2 id='cf'>Config File</h2>
    <ul>
        <li>You can view some js project</li>
        <li>Or <a href="/markdown/new">write</a> or <a href="/markdown">view</a> markdown</li>
    </ul>
                  
    <h2>Code!</h2>
    <pre><code class="language-js">
    const markdown = document.querySelectorAll('markdown')

    markdown.forEach(elem => {
    elem.innerHTML = marked(elem.textContent, {
        breaks: true
    })
    })</code></pre>                      

    <hr>

    <footer style="text-align: right;">
        <span>Author: Le hung</span> <br>
        <span><a href="https://github.com/hungle00/funwithjs">Project on Github</a></span>
    </footer>
</section> 