<section class='main-section' id='configuration'>
    <header><h1>WELCOME</h1></header>
    <h2 id='cf'>Config File</h2>
    <p>Your project structure is probably like this:</p>
                  
    <p>
        Disable click chuột phải
    </p>
                  
    <h2>Code!</h2>
    <pre><code class="language-js">const markdown = document.querySelectorAll('markdown')

    markdown.forEach(elem => {
    elem.innerHTML = marked(elem.textContent, {
        breaks: true
    })
    })</code></pre>
                          
    <h2 id='tc'>Conclusion</h2>
    <div id="content"></div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        document.getElementById('content').innerHTML =
            marked('# Marked in the browser\n\nRendered by **marked**.');
    </script>
</section> 