<link href="<%= url('/css/jsonb.css') %>" rel="stylesheet" type="text/css" />
<div class="container">
  <h1>Wikipedia Search</h1>
  <div id="input">
  <input class="form-control" id="searchTerm" placeholder="Search"></br>
  </div>

  <div class="row">
      <button class="btn" id="search">Search</button>
      <button class="btn"><a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">Random</a> </button>
  </div>

  <ul id="output">
  
  </ul>
</div>

 <script>
 $(document).ready(function(){
  
  $('#search').click(function(){
    var searchValue = $('#searchTerm').val();
    
    var api = "https://en.wikipedia.org/w/api.php?action=query&prop=extracts&exlimit=max&format=json&exsentences=1&exintro=&explaintext=&generator=search&gsrlimit=10&gsrsearch="; 

    
    var url = api + searchValue;
    var wikilink = 'http://en.wikipedia.org/?curid=';
    var html = "";
    
    $.ajax({
      url : url,
      type : 'GET',
      dataType : 'jsonp',
      async : false,
      success : function(data){
        console.log(url);
        var results = data.query.pages;
            var pgs = Object.keys(results);
            pgs.forEach(function (page) {
                var title = results[page].title;
                var text = results[page].extract;
                var pagelink = wikilink + results[page].pageid;

                html += '<a href="' + pagelink + '" >' + '<div class="item">' + title + '<br>' + '<p class="description-text" >' + text + '</p>' + '</div></a>  <br> ';
            });

            $('#output').html(html);
        },
        error : function(errorMessage){
          console.log(errorMessage);
        }
      
    });
    
   })
})
 </script>