<link href="<%= url('/stylesheets/recipe.css') %>" rel="stylesheet" type="text/css" />

<h3>Recipe - jQuery</h3>
<div>
  <label for="serving">Portions :</label>
  <input type="number" id="servingInput" value="1">
  <button class="js-decreaseService">-</button>
  <button class="js-increaseService">+</button>

  <div class="Recipe-IngredientList">
    <div class="Recipe-Ingredient js-recipeIngredient" data-baseValue="100">Farine : <span></span>g</div>
    <div class="Recipe-Ingredient js-recipeIngredient" data-baseValue="2">Oeuf : <span></span></div>
    <div class="Recipe-Ingredient js-recipeIngredient" data-baseValue="150">Lait : <span></span>mL</div>
    <div class="Recipe-Ingredient js-recipeIngredient" data-baseValue="50">Lardon : <span></span>g</div>
  </div>
</div>
<script>
var computeServing = function(serving) {
  $('.js-recipeIngredient').each(function(index, item) {
    $(item).children('span').html($(item)[0].dataset.basevalue * serving)
  })
}
$('#servingInput').on('change', function() {
  computeServing($(this).val())
})
$('.js-decreaseService').on('click', function() {
  var currentServing = $('#servingInput').val()
  $('#servingInput').val(currentServing - 1)
  computeServing(currentServing - 1)
})
$('.js-increaseService').on('click', function() {
  var currentServing = $('#servingInput').val()
  $('#servingInput').val(parseInt(currentServing) + 1)
  computeServing(parseInt(currentServing) + 1)
})
computeServing(1)
</script>