$content-font-color: #333;
$sidebar-font-color: #364149;
$link-font-color: #008cff;

$content-width: 800px;
$sidebar-width: 300px;
$sidebar-background: #fafafa;

html, body {
  margin: 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: $sidebar-width;
  padding: 30px 0 15px 0;
  background: $sidebar-background;
  border-right: 1px solid rgba(0,0,0,.07);
  height: 100%;
  overflow: hidden;
  color: $sidebar-font-color;
}

.content {
  display: block;
  position: absolute;
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
  width: calc(100% - #{$sidebar-width});
  left: $sidebar-width;
  color: $content-font-color;
  line-height: 1.7;
  word-wrap: break-word;
}

.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  
  li {
    margin: 0;
    padding: 0;
  }
  
  a {
    display: block;
    padding: 10px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &.active {
      color: $link-font-color;
    }
  }
}

.inner {
  max-width: $content-width;
  margin: 0 auto;
  padding: 20px 15px 40px 15px;
}

a {
  text-decoration: none;
  color: inherit;
  
  &:hover {
    color: $link-font-color;
    text-decoration: none;
  }
}

pre {
  margin-bottom: 30px;
}